.header {
    height: 80px;
    padding: 0px 3rem;
    background-color: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.header a {
    text-decoration: none;
    color: #ffffff;
    padding-left: 32px;
    transition: 0.3s all ease;
}

nav.header a:hover {
    color: coral;
}